
<p>Find a Cruise | Make a Payment | 
  <%= link_to 'Our Trains', trains_path %> | 
  <%= link_to 'Our Stations', stations_path %> | 
  <%= link_to 'Find a Journey', journeys_path %> |
  <%= link_to 'Find a Customer', customers_path %> | 
  <%= link_to 'Find a Booking', bookings_path %> |
  <%= link_to 'Current Cabins', cabins_path %> |
  <%= link_to 'Dashboard', root_path %>
</p>