<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Credit card:</strong>
  <%= @payment.credit_card.company %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @payment.customer.last_name %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @payment.booking.journey.name %> booked on <%= @payment.booking.created_at %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
